

  <%- include('./partials/head.ejs') %>

  <%- include('./partials/nav.ejs') %>

  <div class="text-center mt-3"><h2> Sorry, we couldn't find that page</h2></div>

  <%- include('./partials/footer.ejs') %>

