<!-- Header -->
<%- include('../partials/head.ejs') %>

<!-- Navigation Bar -->
<%- include('../partials/nav.ejs') %>

<main class="d-flex justify-content-center mw-25">
  <div class="container-sm mt-5">
    <form
      class="text-center border border-light p-5 rounded login-form"
      action="/login"
      method="POST"
    >
      <img
        src="images/user-icon.png"
        width="150px"
        alt="user-icon"
        class="mb-4"
      />
      <p class="h4">MEMBER LOGIN</p>

      <div class="form-group h6">
        <!-- <label for="username">Username</label> -->
        <input
          id="username"
          type="text"
          class="form-control"
          placeholder="Username"
          name="username"
          value=""
        />
        <small class="username error"></small>
      </div>
      <div class="form-group h6">
        <!-- <label for="password">Password</label> -->
        <input
          id="password"
          type="password"
          class="form-control"
          placeholder="Password"
          name="password"
          value=""
        />
        <small class="password error"></small>
      </div>

      <button type="submit" class="btn btn-primary mb-5">Login</button>
      <p class="text-center">
        Forget your password? <a href="/reset" class="link"> Reset Password</a>
      </p>
      <p class="text-center">
        Don't have an account <a href="/signup" class="link"> Register Here</a>
      </p>
    </form>
  </div>
</main>

<!-- Footer -->
<%- include('../partials/footer.ejs') %>

<!-- JAVASCRIPT -->
<script>
  const form = document.querySelector("form");
  const usernameError = document.querySelector(".username.error");
  const passwordError = document.querySelector(".password.error");
  const usernameInput = document.querySelector("#username");
  const passwordInput = document.querySelector("#password");

  form.addEventListener("submit", async (e) => {
    e.preventDefault();

    // reset errors
    usernameError.textContent = "";
    passwordError.textContent = "";

    // get values
    const username = form.username.value;
    const password = form.password.value;

    try {
      const res = await fetch("/login", {
        method: "POST",
        body: JSON.stringify({ username, password }),
        headers: { "Content-Type": "application/json" },
      });
      const data = await res.json();
      console.log(data);
      sessionStorage.setItem("userId", data.user);
      // if (data.errors) {
      //   usernameError.textContent = data.errors.username;
      //   passwordError.textContent = data.errors.password;

      if (data.errors) {
        usernameError.textContent = data.errors.username;
        if (usernameError.textContent) {
          usernameError.style.color = "red";
          usernameInput.classList.add("is-invalid");
        } else {
          usernameInput.classList.remove("is-invalid");
          usernameInput.classList.add("is-valid");
        }

        passwordError.textContent = data.errors.password;
        if (passwordError.textContent) {
          passwordError.style.color = "red";
          passwordInput.classList.add("is-invalid");
        } else {
          passwordInput.classList.remove("is-invalid");
        }
      }
      if (data.user) {
        location.assign("/");
      }
    } catch (err) {
      console.log(err);
    }
  });
</script>
